{
  "Type" : "AWS::ApiGateway::RestApi",
  "Properties" : {
      "Name": "Sample",
      "EndpointConfiguration": {
                    "Types": [
                        "EDGE"
                    ]
                },
                "Policy": ""
    }
}